@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    font-family: "Indie Flower", cursive;
    background-color: rgb(241, 188, 238);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background:#fffed0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
    border: 1px solid #ddd;
    background-image: linear-gradient(to bottom, transparent 90%, rgba(0, 0, 0, 0.05) 90%);
    background-size: 100% 30px;
}
h1{
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}
.input-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input[type="text"]{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
button{
    padding: 10px;
    border: none;
    color: #fff;
    background-color: #c33c84;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
button:hover{
    background-color: #ef94f7;
}
ul{
    list-style: none;
    padding:0;
}
li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
}
li.completed{
    text-decoration: line-through;
    color: #888;
}
.checkbox{
    margin-right: 15px;
}
.delete{
    background: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius:5px;
    font-size: 0.9em;
}
.delete:hover{
    background: #c9302c;
}